table {
    font-size: 13px;
}

table .danger {
    text-decoration: line-through;
}

.logul {
    font-size: 12px;
    padding-left: 25px;
}

.table-condensed>tbody>tr>td {
    vertical-align: middle;
}

.fc-event-vert {
    border-width: 1px 1px;
    color: black;
    font-weight: 900;
    font-size: 1.1em;
}

.fc-event-vert .fc-event-time {
    white-space: nowrap;
    font-size: 14px;
}

.main-title {
    font-family: 'Lato', sans-serif;
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px
}
