<html lang="en" ng-app="eurosportApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Eurosport Report Parser">
    <meta name="author" content="Morz">

    <title>Eurosport Report Parser</title>

    <script src="../bower_components/jquery/jquery.min.js"></script>
    <script src="../bower_components/angular/angular.min.js"></script>
    <script src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../bower_components/underscore/underscore.js"></script>
    <script src="../bower_components/momentjs/moment.js"></script>
    <script src="js/fullcalendar.min.js"></script>
    <script src="js/reportparser.js"></script>


    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../bower_components/fullcalendar/fullcalendar.css" rel="stylesheet">
    <link href="css/adminlte.css" rel="stylesheet">
    <link href="css/eusp.css" rel="stylesheet">

  </head>

  <body ng-controller="reportController">

    <div class="container" ng-if="!printView">
      <div class="row">
        <div class="col-md-12">
          <h1 class="main-title">Eurosport Report Parser</h1>
          <h3 class="main-title-small"><small>by morz, <a href="http://github.com/morzzz007/eurosport-report">open-source @ github</a></small></h3>
        </div>
      </div>
    </div>

    <div class="container" ng-if="!supported">
      <div class="row">
        <div class="col-md-12">
          <h1 class="main-title">Csak modern browserekkel megy, bocsy :((( </h1>
        </div>
      </div>
    </div>

    <div class="container" ng-if="!printView && supported">
      <div class="row">

        <div class="col-md-4" ng-class="{'col-md-offset-4': !jsonData.length}">
          <div class="box box-primary">
              <div class="box-header">
                  <h3 class="box-title">Fájl feltöltése</h3>
              </div>
              <div class="box-body">
                <input type="file" id="fileElem" onchange="angular.element(this).scope().fileSelected(this.files)" style="display: none">
                <a href="#" class="btn btn-danger btn-block" upload-button>Feltöltés</a> 
              </div>
              <div class="box-footer">
                  <div class="progress progress-striped active" style="margin-bottom: 0px">
                      <div  class="progress-bar progress-bar-primary active" 
                            role="progressbar" 
                            ng-style="progressStyle">
                      </div>
                  </div>
                  <div ng-if="parseComplete">
                    <br>
                    <button class="btn btn-primary btn-block" ng-click="togglePrintView()">Nyomtat</button>                    
                  </div>
              </div>
          </div>

          <div class="box box-primary" ng-if="logData.length">
              <div class="box-header">
                  <h3 class="box-title">Log</h3>
              </div>
              <div class="box-body">
                <ul class="logul">
                  <li class="logli" ng-repeat="logItem in logData" ng-bind="logItem.message" ng-class="{'text-red' : logItem.level == 2}"></li>
                </ul>
              </div>
          </div>

        </div>
        
        <div class="col-md-8" ng-if="jsonData.length > 0">
          <div class="box box-primary">
            <div class="box-body no-padding">
              <table class="table table-condensed programmes">
                <tbody>
                  <tr>
                      <th style="width: 10px">#</th>
                      <th>Id</th>
                      <th>Planned</th>
                      <th>Real</th>
                      <th>Computed start</th>
                      <th>Computed end</th>
                  </tr>
                  <tr ng-repeat="programme in jsonData" ng-class="{danger : programme.cancelled}">
                      <td style="vertical-align:middle">
                        <img ng-if="programme.channel == 'INTER'" src="img/eus1.png">
                        <img ng-if="programme.channel == 'EUROSPORT 2'" src="img/eus2.png">
                        <img ng-if="programme.channel == 'EUROSPORT 2 NORTH-EAST'" src="img/eus2.png">
                      </td>
                      <td>
                        <span ng-if="programme.channel == 'INTER'" ng-bind="programme.id" class="label label-primary"></span>
                        <span ng-if="programme.channel == 'EUROSPORT 2'" ng-bind="programme.id" class="label label-danger"></span>
                        <span ng-if="programme.channel == 'EUROSPORT 2 NORTH-EAST'" ng-bind="programme.id" class="label label-info"></span>
                      </td>
                      <td ng-bind="programme.originalStartTime + '-' + programme.originalEndTime"></td>
                      <td ng-bind="programme.realStartTime + '-' + programme.realEndTime"></td>
                      <td ng-bind="displayDate(programme.calendarStartDate)"></td>
                      <td ng-bind="displayDate(programme.calendarEndDate)"></td>
                      <td></td>
                  </tr>
              </tbody>
            </table>
          </div>
        </div>
        </div>

      </div>

    </div> 

    <div class="container" ng-if="calendarEvents.length > 0">
      <div class="row">
        <div class="col-md-12">
          <div class="box box-primary">
          <div class="box-header">
              <h3 class="box-title" id="calendar-date"></h3>
              <div class="box-tools pull-right">
                  <button class="btn btn-default btn-sm" id="calendar-prev-button">Előző nap</button>
                  <button class="btn btn-default btn-sm" id="calendar-next-button">Következő nap</button>
              </div>
          </div>
            <div class="box-body no-padding">
              <div id="calendar" full-calendar events="calendarEvents"></div>
            </div>
          </div> 
        </div>
      </div>
    </div>

  </body>
</html>